<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="AdminPanel" asp-action="Edit">Creat Post</a>
            <a asp-controller="AdminPanel" asp-action="Index">Management</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Auth" asp-action="Logout">SignOut</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">SignIn</a>
            }
        </nav>
    </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
