@model IEnumerable<Post>

@{

}

@*<h2>Home Page!</h2>

<div>
    <img src="~/Content/Static/background.jpeg" />
</div>*@

<div class="main-img">
    <span class="title" >ErenChris Blog</span>
</div>

<div>
    <ul>
        @foreach (var post in Model)
            {
        <li>
            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                @post.Title
            </a>
        </li>
            }
    </ul>
</div>