body {
    margin: 0;
}

a {
}

    a:hover {
        color: #ffffff;
    }

nav {
    background-color: #515151;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a {
        color: #b2b2b2;
        text-decoration: none;
        display: inline-block;
        padding: 60px;
        padding-top: 15px;
    }

.main-img {
    height: 960px;
    background-image: url("../Content/Static/background.jpeg");
    background-position: center;
    background-size: cover;
}

.title {
    position: absolute;
}

.ErenChrisTitle{

}